.alert {
    padding: 10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    border-radius:0;
}
.alert.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}   
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}